<aside class="cart-sidebar">
   <div class="cart-sidebar__overlay"></div>
   <div class="cart-sidebar__wrapper">
      <div class="cart-sidebar__header">
         <h6 class="cart-sidebar__title">Ваш заказ</h6>
         <div class="cart-sidebar__close">
            <svg>
               <use xlink:href="./img/sprites/sprite.svg#ic_close"></use>
            </svg>
         </div>
      </div>
      <div class="cart-sidebar__body product-sidebar-body">
         <div class="product-sidebar-body__products">

            <div class="product-sidebar-body__product">
               <div class="product-sidebar-body__img">
                  <img src="img/pizza_01.png" alt="" loading="lazy">
               </div>
               <div class="product-sidebar-body__content">
                  <div class="product-sidebar-body__name">Чикен Сладкий Чили</div>
                  <div class="product-sidebar-body__attr">Традиционное тесто, 23 см</div>
                  <div class="product-sidebar-body__bottom">
                     <div class="product-sidebar-body__counter counter">
                        <div class="counter__wrapper">
                           <button class="counter__decr btn-reset">-</button>
                           <input type="number" class="counter__value" value="1" min="0" max="100">
                           <button class="counter__incr btn-reset">+</button>
                        </div>
                     </div>
                     <div class="product-sidebar-body__price">499</div>
                  </div>
               </div>
            </div>
            <div class="product-sidebar-body__product">
               <div class="product-sidebar-body__img">
                  <img src="img/pizza_01.png" alt="" loading="lazy">
               </div>
               <div class="product-sidebar-body__content">
                  <div class="product-sidebar-body__name">Чикен Сладкий Чили</div>
                  <div class="product-sidebar-body__attr">Традиционное тесто, 23 см</div>
                  <div class="product-sidebar-body__bottom">
                     <div class="product-sidebar-body__counter counter">
                        <div class="counter__wrapper">
                           <button class="counter__decr btn-reset">-</button>
                           <input type="number" class="counter__value" value="2" min="0" max="100">
                           <button class="counter__incr btn-reset">+</button>
                        </div>
                     </div>
                     <div class="product-sidebar-body__price">499</div>
                  </div>
               </div>
            </div>
            <div class="product-sidebar-body__product">
               <div class="product-sidebar-body__img">
                  <img src="img/pizza_01.png" alt="" loading="lazy">
               </div>
               <div class="product-sidebar-body__content">
                  <div class="product-sidebar-body__name">Чикен Сладкий Чили</div>
                  <div class="product-sidebar-body__attr">Традиционное тесто, 23 см</div>
                  <div class="product-sidebar-body__bottom">
                     <div class="product-sidebar-body__counter counter">
                        <div class="counter__wrapper">
                           <button class="counter__decr btn-reset">-</button>
                           <input type="number" class="counter__value" value="3" min="0" max="100">
                           <button class="counter__incr btn-reset">+</button>
                        </div>
                     </div>
                     <div class="product-sidebar-body__price">499</div>
                  </div>
               </div>
            </div>
            <div class="product-sidebar-body__product">
               <div class="product-sidebar-body__img">
                  <img src="img/pizza_01.png" alt="" loading="lazy">
               </div>
               <div class="product-sidebar-body__content">
                  <div class="product-sidebar-body__name">Чикен Сладкий Чили</div>
                  <div class="product-sidebar-body__attr">Традиционное тесто, 23 см</div>
                  <div class="product-sidebar-body__bottom">
                     <div class="product-sidebar-body__counter counter">
                        <div class="counter__wrapper">
                           <button class="counter__decr btn-reset">-</button>
                           <input type="number" class="counter__value" value="1" min="0" max="100">
                           <button class="counter__incr btn-reset">+</button>
                        </div>
                     </div>
                     <div class="product-sidebar-body__price">499</div>
                  </div>
               </div>
            </div>


         </div>
      </div>
      <div class="cart-sidebar__footer product-sidebar-footer">
         <div class="product-sidebar-footer__price">Итого: 2 379</div>
         <a href="../../your-order-page.html" class="product-sidebar-footer__btn btn btn-reset">Оформить заказ</a>
      </div>
   </div>
</aside>
