<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__col">
            <a href="#" class="footer__logo logo">
               <svg>
                  <use xlink:href="./img/sprites/sprite.svg#ic_pizza-logo"></use>
               </svg>
               <span>Куда пицца</span>
            </a>
         </div>
         <div class="footer__col">
            <div class="footer__name">Куда пицца</div>
            <ul class="footer__list list-reset">
               <li class="footer__item"><a href="#" class="footer__link">О компании</a></li>
               <li class="footer__item"><a href="#" class="footer__link">Пользовательское соглашение</a></li>
               <li class="footer__item"><a href="#" class="footer__link">Условия гарантии</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <div class="footer__name">Помощь</div>
            <ul class="footer__list list-reset">
               <li class="footer__item"><a href="#" class="footer__link">Ресторан</a></li>
               <li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
               <li class="footer__item"><a href="#" class="footer__link">Поддержка</a></li>
               <li class="footer__item"><a href="#" class="footer__link">Отследить заказ</a></li>
            </ul>
         </div>
         <div class="footer__col">
            <div class="footer__name">Контакты</div>
            <div class="footer__contacts contacts">
               <div class="contacts__item">
                  <div class="contacts__icon">
                     <svg>
                        <use xlink:href="./img/sprites/sprite.svg#ic_phone"></use>
                     </svg>
                  </div>
                  <a href="tel:+79262231011" class="contacts__label">+7 (926) 223-10-11</a>
               </div>
               <div class="contacts__item">
                  <div class="contacts__icon">
                     <svg>
                        <use xlink:href="./img/sprites/sprite.svg#ic_address"></use>
                     </svg>
                  </div>
                  <a href="#" class="contacts__label">Москва, ул. Юных Ленинцев, д.99</a>
               </div>
               <div class="contacts__social contacts-social">
                  <div class="contacts-social__wrapper">
                     <a href="#" class="contacts-social__item">
                        <svg>
                           <use xlink:href="./img/sprites/sprite.svg#ic_fb"></use>
                        </svg>
                        <span>Facebook</span>
                     </a>
                     <a href="#" class="contacts-social__item">
                        <svg>
                           <use xlink:href="./img/sprites/sprite.svg#ic_inst"></use>
                        </svg>
                        <span>Instagram</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>



