<header class="header">
   <div class="header__top top-header">
      <div class="container">
         <div class="top-header__wrapper">
            <div class="top-header__location location">
               <div class="location__icon">
                  <svg>
                     <use xlink:href="./img/sprites/sprite.svg#ic_location"></use>
                  </svg>
               </div>
               <div class="location__label">
                  <span>Москва</span>
                  <svg>
                     <use xlink:href="./img/sprites/sprite.svg#ic_arrow-down"></use>
                  </svg>
               </div>
               <div class="location__dropdown dropdown-location">
                  <div class="dropdown-location__body">
                     <ul class="dropdown-location__list list-reset">
                        <li class="dropdown-location__item">
                           <button class="dropdown-location__btn btn-reset">Санкт-Петербург</button>
                        </li>
                        <li class="dropdown-location__item">
                           <button class="dropdown-location__btn btn-reset">Воронеж</button>
                        </li>
                        <li class="dropdown-location__item">
                           <button class="dropdown-location__btn btn-reset">Самара</button>
                        </li>
                        <li class="dropdown-location__item">
                           <button class="dropdown-location__btn btn-reset">Сыктывкар</button>
                        </li>

                     </ul>
                  </div>
               </div>
            </div>
            <div class="top-header__timetable"><span>Время работы: </span>с 11:00 до 23:00</div>
            <a href="#" class="top-header__login login">
               <div class="login__icon">
                  <svg>
                     <use xlink:href="./img/sprites/sprite.svg#ic_user"></use>
                  </svg>
               </div>
               <span class="login__label">Войти в аккаунт</span>
            </a>
         </div>
      </div>
   </div>
   <div class="header__bottom bottom-header">
      <div class="container">
         <div class="bottom-header__wrapper">
            <a href="#" class="bottom-header__logo logo">
               <svg>
                  <use xlink:href="./img/sprites/sprite.svg#ic_pizza-logo"></use>
               </svg>
               <span>Куда пицца</span>
            </a>
            <a href="#" class="bottom-header__cart cart">
               <div class="cart__icon">
                  <svg>
                     <use xlink:href="./img/sprites/sprite.svg#ic_cart"></use>
                  </svg>
               </div>
               <span class="cart__price">0</span>
            </a>
            <button class="burger" aria-label="Открыть меню" data-burger="">
               <span class="burger__line"></span>
            </button>
         </div>
      </div>
   </div>
   <div class="header__menu header-menu" data-menu="">
      <div class="header-menu__wrapper">
         <div class="header-menu__body">
            <div class="container">
               <nav class="header-menu__nav header-menu-nav">
                  <ul class="header-menu-nav__list list-reset">
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Акции</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">О компании</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Пользовательское
                        соглашение</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Условия гарантии</a>
                     </li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Ресторан</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Контакты</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Поддержка</a></li>
                     <li class="header-menu-nav__item"><a href="#" class="header-menu-nav__link">Отследить заказ</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <div class="container">
            <div class="header-menu__footer contacts">
               <div class="contacts__item">
                  <div class="contacts__icon">
                     <svg>
                        <use xlink:href="./img/sprites/sprite.svg#ic_phone"></use>
                     </svg>
                  </div>
                  <a href="tel:+79262231011" class="contacts__label">+7 (926) 223-10-11</a>
               </div>
               <div class="contacts__item">
                  <div class="contacts__icon">
                     <svg>
                        <use xlink:href="./img/sprites/sprite.svg#ic_address"></use>
                     </svg>
                  </div>
                  <a href="#" class="contacts__label">Москва, ул. Юных Ленинцев, д.99</a>
               </div>
               <div class="contacts__social contacts-social">
                  <div class="contacts-social__wrapper">
                     <a href="#" class="contacts-social__item">
                        <svg>
                           <use xlink:href="./img/sprites/sprite.svg#ic_fb"></use>
                        </svg>
                        <span>Facebook</span>
                     </a>
                     <a href="#" class="contacts-social__item">
                        <svg>
                           <use xlink:href="./img/sprites/sprite.svg#ic_inst"></use>
                        </svg>
                        <span>Instagram</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
