<header class="header-catalog">
   <div class="container">
      <div class="header-catalog__wrapper">
         <a href="#" class="header-catalog__logo logo">
            <svg>
               <use xlink:href="./img/sprites/sprite.svg#ic_pizza-logo"></use>
            </svg>
            <span>Куда пицца</span>
         </a>
         <nav class="header-catalog__nav header-catalog-nav" data-menu="">
            <ul class="header-catalog-nav__list list-reset">
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Акции</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Пицца</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Суши</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Напитки</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Закуски</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Комбо</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Десерты</a></li>
               <li class="header-catalog-nav__item"><a href="#" class="header-catalog-nav__link">Соусы</a></li>
            </ul>
         </nav>
         <button class="header-catalog__cart cart btn-reset">
            <div class="cart__icon">
               <svg>
                  <use xlink:href="./img/sprites/sprite.svg#ic_cart"></use>
               </svg>
            </div>
            <span class="cart__price">0</span>
         </button>
         <button class="burger-catalog" aria-label="Открыть меню" data-burger="">
            <span class="burger__line"></span>
         </button>
      </div>
   </div>
</header>







