<div class="modal">
   <div class="modal__container product-modal" role="dialog" aria-modal="true" data-modal-target="pizzaModal">
      <button class="btn-reset modal__close" aria-label="Закрыть модальное окно">
         <svg>
            <use xlink:href="./img/sprites/sprite.svg#ic_close"></use>
         </svg>
      </button>
      <div class="modal__content">
         <div class="product-modal__wrapper">

            <div class="product-modal__image">
               <img src="img/pizza_01.png" alt="Pizza" loading="lazy">
               <div class="product-modal__tags">
                  <div class="product-modal__tag">new</div>
               </div>
            </div>
            <div class="product-modal__content product-modal-content">
               <div class="product-modal-content__header">
                  <div class="product-modal-content__name">Пепперони по-деревенски</div>
                  <div class="product-modal-content__info">
                     <img src="img/ic_info.svg" alt="Info" loading="lazy">
                     <div class="product-modal-content__info-content">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Consectetur, rem.
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__type product-modal-choose">
                  <div class="product-modal-choose__wrapper product-modal-choose__wrapper--2">
                     <button class="product-modal-choose__btn product-modal-choose__btn--active btn-reset">Традиционное
                     </button>
                     <button class="product-modal-choose__btn btn-reset">Тонкое</button>
                  </div>
               </div>
               <div class="product-modal-content__size">
                  <div class="product-modal-content__type product-modal-choose ">
                     <div class="product-modal-choose__wrapper product-modal-choose__wrapper--3">
                        <button class="product-modal-choose__btn product-modal-choose__btn--active btn-reset">20 см
                        </button>
                        <button class="product-modal-choose__btn btn-reset">28 см</button>
                        <button class="product-modal-choose__btn btn-reset">33 см</button>
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__ingredients product-ingredients">
                  <div class="product-ingredients__label">Добавьте в пиццу</div>
                  <div class="product-ingredients__wrapper">
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cheese"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Моцарелла</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cucumber"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Огурцы маринованные</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cucumber"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Огурцы маринованные</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_pepperoni"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Пепперони</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_sauce"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Томатный соус</div>
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__footer">
                  <div class="product-modal-content__footer-left">
                     <div class="product-modal-content__price">Итого: 379</div>
                     <div class="product-modal-content__grammar">400г</div>
                  </div>
                  <button class="product-modal-content__add-btn btn btn-reset">Добавить</button>
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="modal__container product-modal" role="dialog" aria-modal="true" data-modal-target="sushiModal">
      <button class="btn-reset modal__close" aria-label="Закрыть модальное окно">
         <svg>
            <use xlink:href="./img/sprites/sprite.svg#ic_close"></use>
         </svg>
      </button>
      <div class="modal__content">
         <div class="product-modal__wrapper">

            <div class="product-modal__image">
               <img src="img/sushi_01.png" alt="Pizza" loading="lazy">
               <div class="product-modal__tags">
                  <div class="product-modal__tag">new</div>
               </div>
            </div>
            <div class="product-modal__content product-modal-content">
               <div class="product-modal-content__header">
                  <div class="product-modal-content__name">Филадельфия</div>
                  <div class="product-modal-content__info">
                     <img src="img/ic_info.svg" alt="Info" loading="lazy">
                     <div class="product-modal-content__info-content">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Consectetur, rem.
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__type product-modal-choose">
                  <div class="product-modal-choose__wrapper product-modal-choose__wrapper--2">
                     <button class="product-modal-choose__btn product-modal-choose__btn--active btn-reset">Традиционная
                     </button>
                     <button class="product-modal-choose__btn btn-reset">Копченая</button>
                  </div>
               </div>
               <div class="product-modal-content__size">
                  <div class="product-modal-content__type product-modal-choose ">
                     <div class="product-modal-choose__wrapper product-modal-choose__wrapper--2">
                        <button class="product-modal-choose__btn product-modal-choose__btn--active btn-reset">Половина
                        </button>
                        <button class="product-modal-choose__btn btn-reset">Полная</button>
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__ingredients product-ingredients">
                  <div class="product-ingredients__label">Добавьте в суши</div>
                  <div class="product-ingredients__wrapper">
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cheese"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Моцарелла</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cucumber"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Огурцы маринованные</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_cucumber"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Огурцы маринованные</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_pepperoni"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Пепперони</div>
                     </div>
                     <div class="product-ingredients__product">
                        <div class="product-ingredients__img">
                           <svg>
                              <use xlink:href="./img/sprites/sprite.svg#ic_sauce"></use>
                           </svg>
                        </div>
                        <div class="product-ingredients__name">Томатный соус</div>
                     </div>
                  </div>
               </div>
               <div class="product-modal-content__footer">
                  <div class="product-modal-content__footer-left">
                     <div class="product-modal-content__price">Итого: 379</div>
                     <div class="product-modal-content__grammar">400г</div>
                  </div>
                  <button class="product-modal-content__add-btn btn btn-reset">Добавить</button>
               </div>
            </div>
         </div>

      </div>
   </div>

</div>
