// Стили для бургера
// burger-btn($width: 30px, $height: 30px, $line-height: 2px, $color: #000, $color-active: currentColor, $z: 10)
.burger {
   @include burger-btn($color: var(--color-primary));
   @include mb_576 {
      display: none;
   }
}

.header {
   // .header__top
   &__top {
   }

   // .header__bottom
   &__bottom {
   }

   // .header__menu
   &__menu {
   }
}

.top-header {
   position: relative;
   z-index: 12;
   background-color: var(--color-white);
   border-bottom: 1px solid var(--color-line-gray);

   // .top-header__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      height: rem(40);
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: rem(14);
      line-height: calc((18 / 14) * 100%);
   }

   // .top-header__location
   &__location {
      margin-right: auto;
   }

   // .top-header__timetable
   &__timetable {
      margin-right: rem(40);

      @include pc_768 {
         margin-right: rem(15);
      }
      @include pc_576 {
         display: none;
      }
   }

   // .top-header__login
   &__login {
   }
}

.bottom-header {
   position: relative;
   z-index: 11;
   background-color: var(--color-white);
   border-bottom: 1px solid var(--color-line-gray);
   transition: all .2s ease-in-out;

   &._scroll-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
   }

   // .bottom-header__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      height: rem(62);
   }

   // .bottom-header__logo
   &__logo {
   }

   // .bottom-header__cart
   &__cart {
      @include pc_576 {
         position: fixed;
         bottom: rem(20);
         right: rem(20);
      }
   }
}

.header-menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   padding-top: rem(104);
   z-index: 10;
   background-color: var(--color-white);
   transform: translateX(100%);
   transition: transform .2s ease-in-out;
   @include mb_576 {
      display: none;
   }

   //.header-menu--wrapper
   &__wrapper {
      font-family: Inter;
      overflow: auto;
      width: 100%;
      height: 100%;
   }

   // .header-menu__body
   &__body {
      padding: rem(20) 0;
      border-bottom: 1px solid var(--color-background-gray);

   }

   // .header-menu__nav
   &__nav {
   }

   // .header-menu__footer
   &__footer {
      padding: rem(20) 0;
   }

   &._open {
      transform: translateX(0);
   }
}

.header-menu-nav {
   // .header-menu-nav__list
   &__list {
   }

   // .header-menu-nav__item
   &__item {
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }

   // .header-menu-nav__link
   &__link {
      font-weight: 400;
      font-size: rem(16);
      line-height: calc((20 / 16) * 100%);
   }
}




