.burger-catalog {
   @include burger-btn($color: var(--color-primary));
   @include mb_768 {
      display: none;
   }
}

.header-catalog {
   position: fixed;
   z-index: 10;
   width: 100%;
   background-color: var(--color-white);
   // .header-catalog__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rem(64);
   }

   // .header-catalog__logo
   &__logo {
      position: relative;
      z-index: 11;
      margin: 0;
   }

   // .header-catalog__nav
   &__nav {

   }

   // .header-catalog__cart
   &__cart {
      @include pc_992 {
         position: fixed;
         z-index: 5;
         bottom: rem(20);
         right: rem(20);
      }
   }
}

.header-catalog-nav {
   @include pc_768 {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: rem(64);
      left: 0;
      overflow: auto;
      background-color: var(--color-white);
      transform: translateX(100%);
      transition: transform .2s ease-in-out;
      .header-catalog-nav__list {
         position: relative;

      }
   }

   &._open {
      transform: translateX(0);

   }

   // .header-catalog-nav__list
   &__list {
      @include mb_768 {
         display: flex;
         align-items: center;
      }
   }

   // .header-catalog-nav__item
   &__item {
      margin: 0 rem(16);
      @include pc_992 {
         margin: 0 rem(8);
      }
      @include pc_768 {
         margin: 0;
         text-align: center;
         &:not(:last-child) {
            border-bottom: 1px solid var(--color-line-gray);
         }
      }
   }

   // .header-catalog-nav__link
   &__link {
      font-size: rem(16);
      line-height: calc((22 / 16) * 100%);
      transition: color .2s ease-in-out;
      @include pc_hover {
         color: var(--color-accent);
      }
      @include pc_768 {
         display: block;
         padding: rem(15) rem(20);
         font-size: rem(26);
      }
   }
}

