.order-accept {

   // .order-accept__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      @include ad-value(padding-top, 100, 60, 1);
   }

   // .order-accept__img
   &__img {
      margin-bottom: rem(48);
   }

   // .order-accept__label
   &__label {
      font-weight: 600;
      font-size: rem(24);
      line-height: calc((32 / 24) * 100%);
      margin-bottom: rem(16);
      @include pc_576 {
         font-size: rem(18);
      }
   }

   // .order-accept__text
   &__text {
      font-size: rem(16);
      line-height: calc((22 / 16) * 100%);
      max-width: rem(380);
      margin: 0 auto;
      margin-bottom: rem(24);
      @include pc_576 {
         font-size: rem(14);
      }
   }

   // .order-accept__btn
   &__btn {
   }
}
