// Шрифты
//Миксин для подключения через шрифтов
// @mixin font-face($font-family, $url, $weight, $style)

@include font-face(
   $font-family: SFPro,
   $url: SF-Pro-Display-Regular,
   $weight: 400,
   $style: normal
);
@include font-face(
   $font-family: SFPro,
   $url: SF-Pro-Display-Medium,
   $weight: 500,
   $style: normal
);
@include font-face(
   $font-family: SFPro,
   $url: SF-Pro-Display-Semibold,
   $weight: 600,
   $style: normal
);
@include font-face(
   $font-family: SFPro,
   $url: SF-Pro-Display-Bold,
$weight: 700,
$style: normal
);

//Подключение через Google Fonts import
//&display=swap
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
